type project
id Argu
description
    A declarative command line and XML configuration parser for F# applications.
authors
    Eirik Tsarpalis
copyright
	Copyright 2015
summary
    Test paket source remote git override.
licenseurl https://github.com/fsprojects/Argu/blob/master/License.md
projecturl https://github.com/fsprojects/Argu
iconurl https://avatars0.githubusercontent.com/u/6001315
tags
    F#, argument, parser
references
    Argu.dll
files
    ../../bin/net40/Argu.dll ==> lib/net40

